@import 'globals/colors';
@import 'home';
@import 'destination';
@import 'crew';
@import 'technology';
@import './components/navbar';

html {
    font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $light;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 768px) {
        max-width: 768px
    }

    @media (min-width: 1024px) {
        max-width: 1024px
    }

    @media (min-width: 1280px) {
        max-width: 1280px;
    }

}

.crew,
.technology {
    background: url('../assets/space_background.webp') no-repeat;
    background-size: cover;
    padding-top: 40px;
}



.crew {
    background: url('../assets/crew_bg.png') no-repeat;
    background-size: cover;
}

.technology {
    background: url('../assets/technology.png') no-repeat;
    background-size: cover;
}