.navbar {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    padding: 39px 165px 38px 123px;
    width: 830px;
    margin-left: auto;

    &__menu {
        display: flex;
        align-items: center;
        column-gap: 48px;
    }

    &__link {
        padding: 36px 0;
    }

    &__link.navbar__link_underline {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background: #fff;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
        }
    }
}